* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shadows Into Light", cursive;
}

h1 {
  text-align: center;
  margin: 20px;
}

.sections {
  border: 2px solid black;
  background: lightgray;
  margin: 20px;
  position: relative;
  padding: 20px;
}

.heading {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: center;
}

p {
  padding: 20px;
}

#chicken {
  background-color: palevioletred;
}

#beef {
  background-color: #c74c00;
}

#sushi {
  background-color: wheat;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-1 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-1 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-1 {
    float: left;
    width: 100%;
  }
}
